@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: #175ddc;
  border-width: 0;
  border-radius: 5px;
  color: white;
  padding: 8px;
}

.form-control {
    border: 0;
    padding: 8px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-control label {
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.form-control input[type="text"] {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s, box-shadow 0.3s;
}